/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

body {
  margin : 0;
  padding: 0;
  font-family: Helvetica,Geneva,Swiss,Arial,SunSans-Regular,sans-serif;
  line-height: 1;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
}

#ide-wrapper {
    position: absolute;
    bottom: 0;
    /* top: 0; */
    /* right: 0; */
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    /* margin: auto; */
    /* text-align: center; */
}

#script-panel {
    height: calc(100% - 37px);
}

#script-panel textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  resize: none;
}

#panel-wrapper {
    z-index: 1000;
    bottom: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 300px;
    /* margin-top: 100px; */
    /* height: 0px; */
    overflow: hidden;
    border: 3px solid #833;
    border-radius: 3px;
    /* background: #000; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#ide-wrapper.toggled #panel-wrapper {
    /* width: 0px; */
    height: 0px;
}

#goal-panel, #query-panel {
    height: 100%;
    overflow: hidden;
    font-size: 1.2em;
}

#goal-panel {
  width: 60%;
  height: 100%;
  /* height: 320px ; */
  padding-left: 0px;
  float: left;
}

#goal-text {
    border: 0;
    padding: 1px;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 0px;
}

#query-panel {
  /* height: 140px; */
  padding-top: 1em;
  padding-left: 1em;
  float: left;
}

#vsep, #hsep {
  /* position:absolute; */
  z-index: 3;
}

#vsep {
  /* left: calc(55% - 3px); */
  width: 6px;
  height: 100%;
  background-color: #DDD;
  float: left;
}

#hsep {
  width: 100%;
  height: 6px;
  background-color: #DDD;
}

#hide-panel {
    margin: 0;
    /* margin-left: -24px; */
    display: inline-block;
    /* float: left; */
    text-align: left;
    width: auto;
    vertical-align: middle;
}

#toolbar {
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    height: 36px;
    margin-bottom: 0px;
}

#toolbar .exits {
  padding-left: 2px;
  white-space: nowrap;
  display: inline-block;
  /* display: table-cell; */
  /* float: left; */
  vertical-align: top;
  margin-bottom: 0px;
}

#toolbar img {
  display: inline-block;
  margin: 0px;
}

.exits img {
  margin: 0;
}

#buttons {
  display: none;
  opacity: 0;
  text-align: left;
  padding-left: 1em;
  width: 100%;
  transition: opacity 500ms ease;
  vertical-align: middle;
}

#buttons img {
  margin: 0 2px;
  cursor: pointer;
  display: inline-block;
}

.msg-area span {
  display: block;
  padding: 3px;
  white-space: pre;
}

/* overloads */
.CodeMirror {
  height: 100%;
}

/* Proper  */
#code-wrapper {
}

#document {
    margin: auto;
    position: relative;
    padding: auto;
    width: 50em;
}


